@model WebApplication1.Models.Galerie

@{
    ViewData["Title"] = "Create";
}
<h2>Create Librairy</h2>
<p>Create librairy in database. </p>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="oye-fab">
                <div class="oye-fab-btn">
                    <button type="submit" class="btn btn-success">Create</button>
                    <a asp-action="Index" class="btn btn-danger">Return</a>
                </div>
            </div>
        </form>
    </div>
</div>

