@model IEnumerable<MediaCenter.Models.Tag>

@{
    ViewData["Title"] = "Search Tag";
    var listImages = ViewBag.lsImages;
    var searchText = ViewBag.searchText;
}

<h2>Search - Tag</h2>
<p>An ordered list of find tag in different librairy.</p>
<hr />

@if (searchText != null)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name Librairy</th>
                <th>Image Librairy</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Image img in listImages)
            {
                <tr>
                    <td><h4><a asp-controller="Image" asp-action="Details" asp-route-id="@img.Id">@img.Nom</a></h4></td>
                    <td>
                        @if (img.Data != null)
                        {
                            var base64 = Convert.ToBase64String(img.Data);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                            <a asp-controller="Image" asp-action="Details" asp-route-id="@img.Id">
                                <img src="@imgSrc" width="100px" />
                            </a>
                        }
                        else
                        {
                            <span style='color:red'>File not found !</span>
                            <br />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <br /><span style='color:red'>Please enter a name Tag !</span><br /><br />
}
<div style="text-align:right">
    <a asp-controller="Galerie" asp-action="Index" class="btn btn-danger">Return</a>
</div>