@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>MediaCenter is a solution for archiving media. The media are stored in bookstores. The media are marked with keywords. Keywords are detected by the solution, and / or added by the user. A library is a collection of sources of information and similar resources, made accessible to a defined community for reference or borrowing. Assisting the teaching staff in grading the final year student’s projects.</p>