
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Pierre Pavlovic<br />
    Angers, France<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:pierre.pavlovic@reseau.eseo.fr">pierre.pavlovic@reseau.eseo.fr</a><br />
</address>
