@model MediaCenter.Models.Image

@{
    ViewData["Title"] = "Delete Image";
}

<h2>Supress Image - @Html.DisplayFor(model => model.Nom)</h2>
<p>Do you want to supress @Html.DisplayFor(model => model.Nom) in database?</p>
<hr />

<div class="container">
    <div style="text-align:center">
        @if (Model.Data != null)
        {
            var base64 = Convert.ToBase64String(Model.Data);
            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            <div>
                <img src="@imgSrc" width="400px" />
            </div>
        }
        else
        {
            <br /><span style='color:red'>File not found !</span><br />
        }
        <div>
            <br />
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Supress" class="btn btn-success" />
                <a asp-controller="Galerie" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-danger">Return</a>
            </form>
        </div>
    </div>
</div>

