@model MediaCenter.Models.Image

@{
    ViewData["Title"] = "Edit Image";
}

<h2>Edit Image - @Html.DisplayFor(model => model.Nom)</h2>
<p>Edit Image @Html.DisplayFor(model => model.Nom) in database.</p>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="GalerieId" class="form-control" width="20px" required="required" />
            <span asp-validation-for="GalerieId" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="Nom" class="control-label">Name of Image</label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <div class="oye-fab">
                    <div class="oye-fab-btn">
                        <input type="submit" class="btn btn-success" value="Update" />
                        <a asp-controller="Galerie" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-danger">Return</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

